@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}
body::-webkit-scrollbar {
  display: none;
}

a:hover {
  text-decoration: underline;
}

nav { 
  padding: 10px 0px;
}

nav ol {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ol li {
  margin: 0 15px; 
}

nav ol li a {
  padding: 5px 10px; 
  color: black; 
  text-decoration: none; 
  font-size: 25px;
}

#header-style {
  color: #495057;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 0.25rem;

}

.wrapper {
  background-color: rgba(222, 184, 135, 0.3);
  border: 1px solid black;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.shortDescr, .aboutContent {
  padding: 15px;
  border-top: 1px solid #ccc;
  margin-top: 20px;
}

.aboutContent ul{

  list-style: none;


}
.aboutContent a{

  color: black;
  text-decoration: none;
  font-size: 20px;

}

h1, h2, h3 {
  color: #343a40;
}

.ab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img{

  height: 38rem;
  width: 58rem;

}

